################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/aw-3-ahmet-er/.vs/aw-3-ahmet-er/FileContentIndex
